.todo {
  display: flex;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 10px;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  .todo__index {
    width: 20px;
    color: #000;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
  }
  .todo__text {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
  }
  .todo__actions {
    width: 100px;
    display: flex;
    justify-content: flex-end;
    button {
      i {
        &.active {
          color: #209cee;
        }
      }
    }
  }
}
